
fastapi==0.100.0
uvicorn==0.23.2
langchain==0.0.300
langchain-community==0.0.20
langchain-text-splitters==0.0.1
transformers==4.31.0
sentence-transformers==2.2.2
chromadb==0.4.6
PyMuPDF==1.22.5
bs4==0.0.1
black==23.7.0
ruff==0.0.280
pytest==7.4.0
boto3==1.28.17